<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/nav.css">
</head>
<body>
  <div class="container">
    <nav class="navbar fixed-top navbar-expand-lg   navbar-light bg-light ">

      <div class="container-fluid tglr">
        <!-- <img class="mx-2 logo" src="/images/person.jpg" alt="Bootstrap" width="60" height="60"> -->
        <!-- <a class="navbar-brand mx-2 logo" href="#">Travel Log</a> -->
        <div>
          <img class="navbar-brand mx-2 " width="250" height="55" src="/images/logonew.jpg" alt="">
        </div>

        <div>
        <button class="navbar-toggler  navbar-toggle x collapsed" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon btn-light"></span>
        </button>
        <div class="collapse navbar-collapse fonts "  id="navbarSupportedContent">
          <ul class="navbar-nav navbar-center  me-auto mb-05 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/ui/myblogs">Blog</a>
            </li>
            <li class="nav-item">
              <a href="#destination" class="nav-link" href="#">Categories</a>
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Blog Section
              </a>
              <ul class="dropdown-menu ">
                <li><a class="dropdown-item" href="#">Add New Blog</a></li>
                <li><a class="dropdown-item" href="/admin/categoryupload">Add New Category</a></li>
                <li><a class="dropdown-item" href="/admin/imageupload">Add New Image in Gallery</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
            <li><a class="dropdown-item" href="/">Home ?</a></li> 
              </ul>
            </li> -->
            


          
          </ul>
          <form action="/search" method="post" class="d-flex ms-auto my-2 my-lg-0">
            <input class="form-control me-2" name="search" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-dark" type="submit">Search</button>
          </form>
          <div class="cart-profile">
            <!-- <a href="#" alt="cart" class="cart" cart-items="2"
            ><i class="fi fi-rr-shopping-cart"></i
          ></a> -->
          <% if(isAuthenticated){ %>
            <img src="<%=user.image%>" alt="avatar" class="avatar" /><a class="profile-name mx-4" target="_blank" href="/profile"><%=user.name%>
            </a>
           <% } else { %>
            <img src="/images/avatar.png" alt="avatar" class="avatar" /><a class="profile-name mx-4" target="_blank" href="/profile">Username
          <% } %>
          </div>
          <% if(isAuthenticated){ %>
            <form action="/logout" method="post">
          <button class=" btn btn-outline-light btn-dark mx-1" type="submit">Logout</button></form>
              <% } else { %> 
          <button class=" btn btn-outline-light btn-dark mx-3 " type="submit"><a class="linkbtn"
              href="/login">Login</a></button>
        </div>
        <% } %>

      </div>

      </div>

    </nav>
  </div>

</body>
</html>