<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    
    <link rel="stylesheet" type="text/css" target="_blank" href="css/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn-uicons.flaticon.com/uicons-brands/css/uicons-brands.css"
    />
  </head>
  <body>
    
<div class="container">
    <!-- bg-dark bg-transparent  -->
   <nav class="navbar fixed-top navbar-expand-lg  navbar-light bg-light ">
     <div class="container-fluid tglr">
       <img class="mx-2 logo" src="/images/person.jpg" alt="Bootstrap" width="60" height="60">
       
       <a class="navbar-brand" href="#">Travel Log</a>
       <button class="navbar-toggler  navbar-toggle x collapsed" type="button" data-bs-toggle="collapse"
         data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
         aria-label="Toggle navigation">
         <span class="navbar-toggler-icon btn-light"></span>
       </button>
       <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-05 mb-lg-0">
           <li class="nav-item">
             <a class="nav-link active" aria-current="page" href="#">Home</a>
           </li>
           <li class="nav-item">
             <a target="_blank" href="/review" class="nav-link" href="#">name</a>
           </li>
           <li class="nav-item dropdown">
             <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
               Blog Section
             </a>
             <ul class="dropdown-menu ">
               <li><a class="dropdown-item" href="#">Add New Blog</a></li>
               <li><a class="dropdown-item" href="#">Review Section</a></li>
               <li>
                 <hr class="dropdown-divider">
               </li>
               <li><a class="dropdown-item" href="#">Home ?</a></li>
             </ul>
           </li>
           <li class="nav-item">
             <a class="nav-link" href="/login"><%=names%></a>
           </li>
          

         </ul>
         
         <button class=" btn btn-outline-light btn-dark mx-1" type="submit"><a class="linkbtn" target="_blank"
             href="/login">Login </a></button>
         <button class=" btn btn-outline-light btn-dark mx-3 " type="submit"><a class="linkbtn" target="_blank"
             href="/signup">SignUp</a></button>

       </div>

     </div>

   </nav>
 </div>
    <!-- <script>
const mobileNav = document.querySelector(".hamburger");
const navbar = document.querySelector(".menubar");
const dropdown = document.querySelector(".dropdown");
const dropdownBtn = document.querySelector(".dropdown-btn");

const toggleNav = () => {
  navbar.classList.toggle("active");
  mobileNav.classList.toggle("hamburger-active");
};
mobileNav.addEventListener("click", () => toggleNav());

const toggleDrop = () => {
  dropdown.classList.toggle("active-dropdown");
  dropdownBtn.classList.toggle("dropdown-btn-active");
};
dropdownBtn.addEventListener("click", () => toggleDrop());

    </script> -->
  </body>
</html>
