<section id="about-sc" class="">
    <div class="container">
        <div class="about-cnt">
            <form action="#"  enctype="multipart/form-data" method="post">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Basic Information
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="form-group">
                                    <label for="blogTitle" class="form-label mt-4">Title</label>
                                    <input name="blogTitle" type="text" placeholder="Title" id="blogTitle">
                                </div>
                                <div class="form-group">
                                    <label for="exampleTextarea" class="form-label mt-4">Description</label>
                                    <textarea name="description" class="form-control" id="exampleTextarea"
                                        rows="3"></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="place" class="form-label mt-4">Place</label>
                                    <input name="name" type="text" class="form-control" id="place"
                                        aria-describedby="emailHelp" placeholder="Enter Place Name">
                                </div>
                                <div class="form-group">
                                    <label for="city" class="form-label mt-4">City</label>
                                    <input name="cityname" type="text" class="form-control" id="city"
                                        placeholder="Enter City">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Country Name</label>
                                    <input name="countryname" type="text" class="form-control"
                                        id="exampleInputPassword1" placeholder="Enter Country">
                                </div>
                                <div class="form-group">
                                    <label for="budget" class="form-label mt-4">Budget</label>
                                    <span class="input-group-text">$</span>
                                    <input type="text" class="form-control" id="budget"
                                        aria-label="Amount (to the nearest dollar)">
                                    <span class="input-group-text">.00</span>
                                </div>
                                <div class="form-group">
                                    <fieldset class="form-group">
                                        <legend class="mt-4">Category</legend>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="optionsRadios"
                                                id="optionsRadios1" value="option1" checked="">
                                            <label class="form-check-label" for="optionsRadios1">
                                                Hill-Station
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="optionsRadios"
                                                id="optionsRadios2" value="option2">
                                            <label class="form-check-label" for="optionsRadios2">
                                                Beach
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="optionsRadios"
                                                id="optionsRadios3" value="option3">
                                            <label class="form-check-label" for="optionsRadios3">
                                                Domestic
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="optionsRadios"
                                                id="optionsRadios3" value="option3">
                                            <label class="form-check-label" for="optionsRadios3">
                                                International
                                            </label>
                                        </div>
                                    </fieldset>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                Media
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="form-group">
                                    <label for="formFile" class="form-label mt-4">Add Title Image</label>
                                    <input name="image" class="form-control" type="file" id="formFile">
                                </div>
                                <div class="form-group">
                                    <label for="formFile" class="form-label mt-4">Add More Images</label>
                                    <input name="eximg1" class="form-control" type="file" id="formFile">
                                </div>
                                <div class="form-group">
                                    <label for="formFile" class="form-label mt-4">Add More Image</label>
                                    <input name="eximg2" class="form-control" type="file" id="formFile">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                Add More Details
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                            data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Transport</label>
                                    <input name="transport" type="text" class="form-control" id="exampleInputPassword1"
                                        placeholder="Transport">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Things To Do</label>
                                    <input name="todo" type="text" class="form-control" id="exampleInputPassword1"
                                        placeholder="Enter To-Do">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Stay</label>
                                    <input name="Stay" type="text" class="form-control" id="exampleInputPassword1"
                                        placeholder="Stay">
                                </div>
                                <div class="form-group">
                                    <label for="exampleInputPassword1" class="form-label mt-4">Date</label>
                                    <input name="Date" type="date" class="form-control" id="exampleInputPassword1"
                                        placeholder="Enter Date">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id="send">Submit</button>

        </div>
    </div>
</section>