<!DOCTYPE html>
<html>
    <head>
        <%- include('common/head'); %>       
    </head>
    <body>
        <%- include('common/nav'); %> 
        <div class="container">
            Razaaqs ejs file gets 'included' here
        </div>   
    </body>
</html>