<!DOCTYPE html>
<html>
    <head>
        <%- include('common/head'); %>
    </head>
    <body>
        <%- include('common/nav'); %> 
        <div class="container">
            <h1>
                Blogs
            </h1>
            <div>
                All the blogs will be listed here
            </div>
        </div>
    </body>
</html>