<!-- <nav class = "navbar bg-white">
    <div class="container">
        <div class = "navbar-content">
            <div class = "brand-and-toggler">
                <a href = "index.html" class = "navbar-brand">
                    <img src = "assets/images/curriculum-vitae.png" alt = "" class = "navbar-brand-icon">
                    <span class = "navbar-brand-text">Your <span>Bolg.</span>
                </a>
                <button type = "button" class = "navbar-toggler-btn">
                    <div class = "bars">
                        <div class = "bar"></div>
                        <div class = "bar"></div>
                        <div class = "bar"></div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</nav> -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">TravelBlog</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="http://localhost:3000/ui/myBlogs">Blogs</a>
          </li>
        </ul>
        <form class="d-flex" action="http://localhost:3000/ui/createBlog">
            <input class="btn btn-lg btn-primary" type="submit" value="Create Blog"></input>
        </form>
      </div>
    </div>
  </nav>